:root {
  --Background-color: hsl(30, 54%, 90%);
  --White: hsl(0, 0%, 100%);
  --Rose-White: hsl(330, 100%, 98%);
  --Light-Grey: hsl(30, 18%, 87%);
  --Wenge-Brown: hsl(30, 10%, 34%);
  --Dark-Charcoal: hsl(24, 5%, 18%);
  --Nutmeg: hsl(14, 45%, 36%);
  --Dark-Raspberry: hsl(332, 51%, 32%);
  --border-radius: 10px;
}

@font-face {
  font-family: "outfit";
  src: url(./assets/fonts/outfit/Outfit-VariableFont_wght.ttf);
}
@font-face {
  font-family: "young-serif";
  src: url(./assets/fonts/young-serif/YoungSerif-Regular.ttf);
}

body {
  background-color: var(--Background-color);
  font-family: "outfit", sans-serif;
  font-size: 16px;
}

.card {
  margin: 100px auto;
  border: 0px;
  width: 65%;
  background-color: var(--White);
  color: var(--Wenge-Brown);
  border-radius: 15px;
  padding: 15px;
}
.card img {
  width: 100%;
  display: block;
  border-radius: var(--border-radius);
}
.card-head {
  padding: 20px 20px 0 20px;
}

.card h1 {
  color: var(--Dark-Charcoal);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "young-serif", sans-serif;
  font-weight: 400;
}

h2 {
  color: var(--Nutmeg);
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

.preparation-time {
  background-color: var(--Rose-White);
  padding: 20px;
  margin: 20px 10px;
  border-radius: var(--border-radius);
}
.preparation-time h2 {
  color: var(--Dark-Raspberry);
  font-family: "outfit", sans-serif;
  font-weight: 600;
  font-size: 21px;
}
.preparation-time li::marker {
  color: var(--Dark-Raspberry);
}
li {
  padding-left: 10px;
}
li::marker {
  color: var(--Nutmeg);
}

ol li::marker {
  font-weight: 800;
}

h1 {
  font-family: "young-serif";
  margin-top: 10px;
}
.nutritions {
  margin: 30px;
}

.nutritions .amount {
  color: var(--Nutmeg);
  font-weight: 600;
}
.preparation-time,
.instructions,
.ingredients {
  line-height: 30px;
}

@media (max-width: 576px) {
  .container {
    margin: 0;
  }
  .card {
    margin: 0;
    width: 100%;
    padding: 0;
  }
  .card h1 {
    font-size: 35px;
  }
  .card-body {
    padding: 30px;
  }
  .card img {
    padding: 0;
    border-radius: 0;
  }
  .col-sm-12 {
    padding: 0;
  }
  .card-head {
    padding: 0;
  }
}
